# Adonis default .gitignore ignores
backend/node_modules
backend/build
backend/coverage
backend/.vscode
backend/.DS_STORE
backend/.env
backend/tmp

# Additional .gitignore ignores (any custom file you wish)
.idea

# Additional good to have ignores for dockerignore
backend/Dockerfile*
docker-compose*
.dockerignore
*.md
.git
backend/.gitignore

frontend/.gitignore
frontend/node_modules
frontend/Dockerfile*
.env